<div class="title">Editing friend</div>

<br/>

<%= render "form", friend: @friend %>

<br>

<div>
  <div class="field is-grouped">
    <p class="control">
      <%= link_to "Show this friend", @friend, class:"button is-info" %>
    </p>
    <p class="control">
      <%= link_to "Back", friends_path, class:"button" %>
    </p>
  </div>
</div>
