<div class="container is-fluid">
<div class="card">
  <div class="card-content">
<div class="title">About Us</div>
<br/>
<p>FixIt issue tracking system for problems that students notice around campus, such as a cracked dorm window, malfunctioning handicap door button, etc.</p>
</div>
</div>
</div>
