<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Welcome to Duke FixIt!
    </p>
    <br/>
    <p class="subtitle">
      FixIt issue tracking system for problems that students notice around campus, such as a cracked dorm window, malfunctioning handicap door button, etc.
    </p>
  </div>
</section>
